width: 24px:

cabeçalho_menu-hamburguer

height: 24:

Dheader.css

background-image: url("../img/menu.svg");


backgroud repeat:no-repeat: I background-position:center;
display: inline-block;
}
.container botao:checke~.container_rotulo>.cabeçalho_menu-hamburger{backgrount-staq
}
.container_botao:checked~container_rotulo{
background:var(--azul-degrade);

}
.cabeçalho{
background-color:var(--branco);
display:flex;
Justify-content:space-between;
align-items:center
position:relative;
}
.container{
display: flex:
align-itens:center;
}
.container_imagem{
padding:1em;
}
.lista-menu{
  display:none;
  position:absolute;
  top:100;
  width:60vw;
}
.container__botao:checked~.lista-menu{
  display:block;
}
.lista-menu__titulo,
.lista-menu__item{
  padding: 1em;
  background-color: var(--branco);
}
.lista-menu__titulo{
  color: var(--laranja);
  font-weight: 700;
}
