width: 24px:

cabeçalho_menu-hamburguer

height: 24:

Dheader.css

background-image: url("../img/menu.svg");


backgroud repeat:no-repeat: I background-position:center;
display: inline-block;
}
.container botao:checke~.container_rotulo>.cabeçalho_menu-hamburger{backgrount-staq
}
.container_botao:checked~container_rotulo{
background:var(--azul-degrade);

}
.cabeçalho{
background-color:var(--branco);
display:flex;
Justify-content:space-between;
align-items:center
position:relative;
}
.container{
display: flex:
align-itens:center;
}
.container_imagem{
padding:1em;
}
.lista-menu{
  display:none;
  position:absolute;
  top:100;
  width:60vw;
}
.container__botao:checked~.lista-menu{
  display:block;
}
.lista-menu__titulo,
.lista-menu__item{
  padding: 1em;
  background-color: var(--branco);
}
.lista-menu__titulo{
  color: var(--laranja);
  font-weight: 700;
}

.lista-menu__link {
  background: var(--azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backgrond-clip: text;
  text-transform: uppercase;
}

  .container__botao {
    display: none;
  }
.container_-tituol {
  display: none;
}

.opções {
display: none;
}

.container__texto {
  display: none;
}

@media screen and (mid-width:1024px)

.container__titulo,
.container__titulo--negrito{
  font-family: var(font-secundario);
  font-size: 30px;
}

.container__titulo {
  font-weight: 400;
  display: block;
}

.container--titulo-negrito {
font-weight: 700;
}

.opções {
  display: flex;
}

.opções__item{
  padding: 0 1em;
text-transform: uppercase;
}

.opções__link{
  text-decoration: none;
  color: var(--preto)
}
.container__imagem-transparente {
 display: none;
}

.opções__botão:checked~.lista-menu {
dispaly: block;
  width: auto;
}


.opções__botão {
  dispaly: none;
}

.opções__botão: checked~.opções__rotulo>.opções__item {
  background: var(--azul-degrade);
  color: var(--branco);
}

.opções__item { 
padding: 2em 1em;
}

.lista-menu__item:hover {
  background: var(--azul-degrade);
}

.lista-menu__item:hover>.lista-menu__link {
-webkit-text-fill-color: var(--branco);
  text-decoration:none;
}

}

@media screen and (min-widht: 1728px) {
   .container__link {
     display: flex;

     align-items: center;
     text-decoration: none;
     color: var(--preto);
   }

  .cabeçalho {
    padding: 0 2em;
  }

  .opções {
    margin-right: auto;
  }

  .container__texto {
    display: block;
  }

}
  

