hr{
  margin:0;
  }
  .rodapé{
   background-color: var(--branco)
   padding: 1em;
   }
   .lista--rodapé{
   display:none;
   }
@media screen and (min-width: 1024px){
  .rodapé{
    display: flex;
    justify-content: space-around;
  }
    
